.vscode/**
.vscode-test/**
src/**
**/*.ts
!**/*.d.ts
**/tsconfig.json
.gitignore
**/.turbo/**
**/node_modules/**
*.log
**/.env*
**/.git/**
squeezer-py/**

# Explicitly include wasm files
!wasm/**
!wasm/*.wasm
